{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'galeria/css/bootstrap-theme.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'galeria/css/bootstrap-theme.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'galeria/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'galeria/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'galeria/css/galeria.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'galeria/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'galeria/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'galeria/js/galeria.js' %}"></script>
    <title>Home</title>
  </head>
  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="{% url 'galeria:index'%}">Galeria</a></li>
              <li><a href="{% url 'minhaapp:index'%}">Pesquisas</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Todas pesquisas <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                {% for poll in latest_poll_list %}
                    <li><a href="{% url 'minhaapp:detail' poll.id %}">{{ poll.question }}</a></li>
                {% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{% url 'admin:index'%}">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        {% block conteudo %}
        {% endblock conteudo %}
        {{ descricao }}
      </div>
    </div>
  </body>
</html>