{% extends "home/base_site.html" %}

{% block conteudo %}
<h3>Minhas pesquisas</h3>
    {% if latest_poll_list %}
        <ul>
        {% block pesq-menu %}
        {% for poll in latest_poll_list %}
            <li><a href="{% url 'minhaapp:detail' poll.id %}">{{ poll.question }}</a></li>
        {% endfor %}
        {% endblock pesq-menu %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock conteudo %}

