{% extends "home/base_site.html" %}

{% block conteudo %}
<h3>{{ poll.question }}</h3>

<ul>
    {% for choice in poll.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
</ul>
<a href="{% url 'minhaapp:detail' poll.id %}">Votar novamente?</a>
{% endblock conteudo %}